
<section class='container d-flex gap-3 flex-column'>
  <article class='border border-dark p-1'>
    <h1 class='fs-2 text fw-bold'>Hello Word!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere maiores cumque quam quae consequuntur nihil deleniti ratione accusantium, ab incidunt quod vero odit, commodi distinctio sunt excepturi numquam quaerat? Exercitationem?</p>
  </article>
  <article class='border border-dark p-1'>
    <h1 class='fs-2 text fw-bold'>Idea Secundaria</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, maxime necessitatibus alias a voluptate repudiandae dicta accusantium porro fuga minima reiciendis. Animi repellat natus, obcaecati perspiciatis commodi dolorem maiores illo.</p>
  </article>
  <article class='border border-dark p-1'>
    <h1 class='fs-2 text fw-bold'>Idea Secundaria 2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis qui est impedit asperiores inventore! Possimus, quis inventore, consequuntur error hic officia corporis quasi magnam non, illo voluptatibus odit neque nihil.</p>
  </article>
</section>

<section class='container d-flex gap-5 flex-row mt-5 mb-5'>
  <article class='d-grid gap-2 mx-auto'>
    <h1 class='fs-3 text fw-bold'>Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ex adipisci officiis rerum iure incidunt eaque, a est ducimus at reprehenderit nisi modi pariatur. Fugit neque voluptatum velit eaque consequuntur.
    Vitae, distinctio, cum odit reiciendis commodi ullam placeat maiores cumque sunt nihil recusandae illo, illum nisi laudantium sed repudiandae! Alias rem odit similique nemo ipsam magnam enim quia culpa provident!</p>
    <button type='button' class='btn btn-secondary border border-2 border-dark'>Click Me</button>
  </article>
  <article class='d-grid gap-2 mx-auto'>
    <h1 class='fs-3 text fw-bold'>Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ex adipisci officiis rerum iure incidunt eaque, a est ducimus at reprehenderit nisi modi pariatur. Fugit neque voluptatum velit eaque consequuntur.
    Vitae, distinctio, cum odit reiciendis commodi ullam placeat maiores cumque sunt nihil recusandae illo, illum nisi laudantium sed repudiandae! Alias rem odit similique nemo ipsam magnam enim quia culpa provident!</p>
    <button type='button' class='btn btn-secondary border border-2 border-dark'>Click Me</button>
  </article>
  <article class='d-grid gap-2 mx-auto'>
    <h1 class='fs-3 text fw-bold'>Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ex adipisci officiis rerum iure incidunt eaque, a est ducimus at reprehenderit nisi modi pariatur. Fugit neque voluptatum velit eaque consequuntur.
    Vitae, distinctio, cum odit reiciendis commodi ullam placeat maiores cumque sunt nihil recusandae illo, illum nisi laudantium sed repudiandae! Alias rem odit similique nemo ipsam magnam enim quia culpa provident!</p>
    <button type='button' class='btn btn-secondary border border-2 border-dark'>Click Me</button>
  </article>
</section>
