<header>
  <nav class="navbar bg-black">
    <div class="container">
      <h1 class="navbar-brand text-white">Header</h1>
    </div>
  </nav>
</header>

<section class='container'>
  <div class="row">
    <article class="col col-lg-9">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, fugit repellendus, voluptas, magnam repellat molestiae officia debitis minima illo pariatur quaerat dicta voluptatem quos laborum impedit. Amet eos porro incidunt.
        Beatae dolorum cupiditate libero. Repellat, blanditiis iure id ut vitae ipsa deleniti optio quidem quae dolorem numquam minus, distinctio rerum molestias animi fugit voluptates possimus omnis amet quisquam quia unde.
        Quibusdam amet, porro animi temporibus aut incidunt libero dignissimos officiis. Minima quibusdam temporibus labore totam odit culpa mollitia aliquam sequi soluta, provident sed neque deleniti natus cum quasi optio impedit!
        At natus, earum ut nemo quis voluptatem temporibus eos beatae expedita obcaecati. Non commodi facilis nostrum hic modi deleniti pariatur adipisci culpa repellat veritatis officiis, omnis at rerum ex ducimus!
        Sed, nam a. Amet ipsam sed totam dignissimos? Maxime sunt officia repellat fugit nostrum itaque veritatis perferendis adipisci ipsum quisquam iste est, quia ratione, molestiae quis. Maiores adipisci sunt obcaecati.
        Cumque voluptatibus quas vero dolorem molestias suscipit molestiae iusto sapiente eaque dicta blanditiis, impedit dolores eos? Expedita corrupti eaque ratione aut impedit illo eligendi libero unde laudantium, minima aperiam vero.
        Soluta, eius quibusdam dolores sint id officiis ut labore voluptates nisi omnis tempore numquam nam rerum libero blanditiis aliquid. Ab a error, nihil esse officia eius dicta. Consequatur, ea magni.
        Esse deleniti, architecto asperiores, explicabo quasi exercitationem dolorem animi fugit id inventore ut dicta minus aliquam cumque. Amet tempore dolorum assumenda, culpa earum nobis commodi blanditiis. Quibusdam doloribus eligendi nulla.
        Esse debitis voluptas corrupti, dicta odio eveniet? Odio, quam id rem consequatur, quaerat voluptas accusamus porro excepturi nemo, fugiat aliquid libero ipsa maiores numquam suscipit atque impedit ullam molestias voluptatum?
      </p>      
    </article>
    <article class="col bg-danger text-white">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eveniet quae fuga magni quis accusamus, assumenda repudiandae ipsa neque doloremque rem harum repellat incidunt iusto maxime alias! Eaque, laudantium dolore!
        Nulla voluptatum praesentium laborum tempore provident aliquam, error aspernatur minima officia veritatis iusto, ipsum totam. Deserunt praesentium esse magnam sed recusandae possimus sint accusamus quos autem quasi fugiat, laborum necessitatibus.
      </p>
    </article>
  </div>
</section>

<section class='container'>
  <div class='row'>
    <article class='col bg-black text-white'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus nam qui ipsa incidunt. Necessitatibus ipsa quos minus eius dolorum iure modi optio beatae. Magnam ex obcaecati consequuntur ducimus deleniti.
    </article>
    <article class='col'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus nam qui ipsa incidunt. Necessitatibus ipsa quos minus eius dolorum iure modi optio beatae. Magnam ex obcaecati consequuntur ducimus deleniti.
    </article>
    <article class='col bg-black text-white'>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus nam qui ipsa incidunt. Necessitatibus ipsa quos minus eius dolorum iure modi optio beatae. Magnam ex obcaecati consequuntur ducimus deleniti.</p>
    </article>
    <article class='col'>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus nam qui ipsa incidunt. Necessitatibus ipsa quos minus eius dolorum iure modi optio beatae. Magnam ex obcaecati consequuntur ducimus deleniti.</p>
    </article>
  </div>
</section>

<footer class='container-lg py-4 mt-4 text-center'>
  <span>© Copyright Francisco Huchin</span>
</footer>
